@import "../../styles/variables.scss";


div {
    .menu {
        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3vh;
            margin: 1vh;
            border-radius: 30px;
            border-style: none;
            font-size: $a_text;
        }
    }
    
    .header &.links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1vh;
        border: 2px solid $background_charcoal;
        border-radius: 30px;
        padding: 1vh;
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        a {
            color: $links_light-blue;
            text-decoration: underline;
        };
    }
    
    .header &.hidden {
        display: none;
    }
}

//ajouter une animation
