@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "variables.scss";

@mixin shadow {
    box-shadow:
  3.9px 2.2px 3.4px rgba(0, 0, 0, 0.048),
  9.3px 5.4px 8.2px rgba(0, 0, 0, 0.069),
  17.5px 10.1px 15.5px rgba(0, 0, 0, 0.085),
  31.3px 18.1px 27.7px rgba(0, 0, 0, 0.101),
  58.5px 33.8px 51.8px rgba(0, 0, 0, 0.122),
  140px 81px 124px rgba(0, 0, 0, 0.17);
}

body{
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    a {
        text-decoration: none;
    }
    background-image: url("../assets/cool-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.main-title {
    background-color: $background_black;
    background-image: linear-gradient(180deg, $background_black 0%, $background_charcoal 46%, $background_paynes-gray 100%);
    color: $text_ghost-white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.section_title_left {
    background-color: $background_black;
    background-image: linear-gradient(90deg, $background_black 0%, $background_charcoal 46%, $background_paynes-gray 100%);
    color: $text_ghost-white;
    margin-right: 200px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.section_title_right {
    background-color: $background_black;
    background-image: linear-gradient(270deg, $background_black 0%, $background_charcoal 46%, $background_paynes-gray 100%);
    color: $text_ghost-white;
    margin-left: 200px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.footer {
    background-color: $background_black;
    background-image: linear-gradient(0deg, $background_black 0%, $background_charcoal 46%, $background_paynes-gray 100%);
    color: $text_ghost-white;
}

.links {
    color: $links_light-blue;
}

//affichage des ombres ?