@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "variables.scss";



html {
    scroll-behavior: smooth;
}

.anchor {
    position: relative; 
    top: -$offset;
}

body{
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    a {
        text-decoration: none;
        font-size: clamp(6px, $a_text, 40px);
    }
    a:hover {
        text-decoration: underline;
    }
    p {
        font-size: clamp(5px, $p_text, 35px);
    }
    h1 {
        font-size: clamp(40px, $h1_title, 100px);
    }
    h2 {
        font-size: clamp(35px, $h2_title, 70px);
    }
    h3 {
        font-size: clamp(30px, $h3_title, 60px);
    }
    h4 {
        font-size: clamp(25px, $h4_title, 50px);
        font-style: italic;
        margin: 1.5vh;
    }
    button {
        box-shadow: 10px 5px 5px $background_black;
        &:active
        {
            box-shadow: 5px 1px 2px $background_black;
        }   
    }
    //background-image: url("../assets/cool-background.jpg");
    //background-size: cover;
    //background-attachment: fixed;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("../assets/cool-background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.background {
    position: absolute;
    width: 100%;
    height: 100%;
    @include gradient;
}

.main-title {
    @include gradient;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    @include shadow;
}

.section_title_left {
    @include gradient;
    margin-right: 12vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    @include shadow;
}

.section_title_right {
    @include gradient;
    margin-left: 12vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    @include shadow;
}

.footer {
    @include gradient;
}

.links {
    color: $links_light-blue;
}

//rajouter une taille de texte maximum surtout pour le header
//max(20vw, 400px); 