@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "variables.scss";

body{
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    a {
        text-decoration: none;
    }
}

.main-title {
    background-color: $background_black;
    background-image: linear-gradient(180deg, $background_black 0%, $background_charcoal 46%, $background_paynes-gray 100%);
    color: $text_ghost-white;
}

.section_title_left {
    background-color: $background_black;
    background-image: linear-gradient(90deg, $background_black 0%, $background_charcoal 46%, $background_paynes-gray 100%);
    color: $text_ghost-white;
    margin-right: 200px;
}

.section_title_right {
    background-color: $background_black;
    background-image: linear-gradient(270deg, $background_black 0%, $background_charcoal 46%, $background_paynes-gray 100%);
    color: $text_ghost-white;
    margin-left: 200px;
}

.footer {
    background-color: $background_black;
    background-image: linear-gradient(0deg, $background_black 0%, $background_charcoal 46%, $background_paynes-gray 100%);
    color: $text_ghost-white;
}

.links {
    color: $links_light-blue;
}

    
