@import "../../styles/variables.scss";

#about {
    h2 {
        font-size: 30px;
    }
    padding: 30px;
    margin-top: 50px;
    text-align: end;
    a {
        color: $links_light-blue;
    }
}