@import "../../styles/variables.scss";

#about {
    padding: 4vh;
    @include margin;
    text-align: end;
    a {
        color: $links_light-blue;
    }
    div {
        display: flex;
        justify-content: center;
    }
}