@import "../../styles/variables.scss";

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.card {
    width: 45vw;
    height: 80vh;
    border-radius: 30px;
    border: 1px solid $background_paynes-gray ;
    perspective: 1000px;
    @media (max-width: 1000px)
    {
        width: 80vw;
    }
    .card-content {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        @include shadow;
        &:hover {
            transform: scale(1.1) rotateY(10deg);
            //box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }
        .front {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            border-radius: 30px;
            transition: transform 0.5s;
            animation: fadeIn 1s ease-in-out;
            h3 {
                display: flex;
                align-items: center;
                gap: 2vw;
                position: relative;
                font-size: 5vh;
                padding: 10px;
            }
        }
        .back {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            background-color: $background_paynes-gray;
            color: $text_ghost-white;
            border-radius: 30px;
            transition: transform 0.5s;
            transform: rotateY( 180deg );
            animation: fadeIn 1s ease-in-out;
            .back-content {
                padding: 30px;
                transform: rotateY( 180deg );
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                .tags {
                    li {
                        font-size: $p_text;
                    }
                }
                a {
                    color: $links_light-blue;
                    text-decoration: underline;
                    button {
                        padding: 2vh;
                        border-radius: 30px;
                        font-size: $a_text;
                        cursor: pointer;
                        border: 1px solid $background_paynes-gray;
                    }
                }
            }
        }
    }
}

//rajouter un fondu sur l'apparition du contenu des cartes