@import "../../styles/variables.scss";

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s;
    img {
        max-width: 100px;
    }
}
figure:hover {
    box-shadow: 10px 5px 5px $background_black;
}