@import "../../styles/variables.scss";


#contact {
    padding: 3vh;
    @include margin;
    form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
        .text_form {
            width: 100%;
            font-size: $p_text;
            border-radius: 30px;
            &::placeholder {
                opacity: 0.8;
                color: $background_charcoal;
                margin-left: 10px;
            }
        }
        input {
            height: 3vh;
        }
        textarea {
            height: 9vh;
        }
        button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            border: 1px solid $links_light-blue;
            padding: 2vh;
            font-size: $a_text;
            font-weight: 800;
            width: 10vw;
            height: 5vh;
        }
    }
}

//impossible de mettre une marge sur le placeholder ?