@import "../../styles/variables.scss";

$shake-intensity: 2%;

@mixin placeholder {
    padding:10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: $p_text;
}

@keyframes headshake {
    25% {
        transform: translateX($shake-intensity);
    }
    75% {
        transform: translateX($shake-intensity * -1);
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

#contact {
    padding: 3vh;
    @include margin;
    .message_sent {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        animation: fadeIn 0.5s;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
        .text_form {
            width: 100%;
            padding:10px;
            font-size: $p_text;
            border-radius: 30px;
        }
        input {
            height: 3vh;
            &:placeholder-shown {
                @include placeholder;
                font-size: clamp(18px, $p_text, 40px);
            }
            &:not(:focus):invalid {
                //color: $text_ghost-white;
                background-color: #ff9999;
                animation: headshake 175ms cubic-bezier(.4,.1,.6,.9);
            }
        }
        textarea {
            height: 9vh;
            &:placeholder-shown {
                @include placeholder;
                font-size: clamp(18px, $p_text, 40px);
            }
        }
        button {
            cursor: pointer;
            border-radius: 30px;
            border: 1px solid $links_light-blue;
            width: 10vw;
            min-width: 100px;
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: clamp(18px, $p_text, 40px);
            font-weight: 800;
            font-family: 'Poppins';
            font-style: normal;
        }
    }
}

//changer couleur ou opacité du rouge