.header {
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    div {
        button {
            height: 400px;
            width: 200px;
            background-color: transparent;
            border: none;
        }
    }
    h1 {
        padding: 10px;
    }
}