.header {
    position: sticky;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        h1 {
            font-size: 60px;
        }
    }
}