@import "../../styles/variables.scss";

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1vh;
    height: $offset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 25vh;
    img {
        margin: 1vw;
    }
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3vw;
        h1 {
            margin: 0;
        }
        .menu-container {
            //position: absolute;
            width: 10wv;
            height: 100%;
        }
    }
}

