@import "../../styles/variables.scss";

#gallery {
    margin-top: 50px;
    margin-left: 30px;
}

.buttons {
    display: flex;
    gap: 60px;
    button {
        padding: 20px;
        border-radius: 20px;
        cursor: pointer;
        @include gradient;
        @include shadow;
        border: 1px solid $links_light-blue;
        //color: $text_ghost-white;
    }
    .active {
        color: red;
    }
    .inactive {
        color: blue
    }
}

p {color: white;}

.cards {
    margin-top: 30px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}