@import "../../styles/variables.scss";

#gallery {
    @include margin;
    margin-left: 2vw;
    padding: 1vw;
    h1 {
        margin: 2vw;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 10px;
    button {
        padding: 2vh;
        border-radius: 30px;
        font-size: clamp(16px, $a_text, 35px);
        cursor: pointer;
        border: 1px solid $background_paynes-gray;
    }
    .active {
        border: 3px solid $background_paynes-gray;
        background-color: $links_light-blue;
    }
    .inactive {
        border: 1px solid $background_paynes-gray;
    }
}

p {
    color: white;
}

.cards {
    margin-top: 6vh;
    gap: 6vh;
    padding: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}

.cards.hidden {
    opacity: 0;
}