@import "../../styles/variables.scss";

#intro {
    padding: 4vh;
    @include margin;
    h3 {
        font-style: italic;
    }
    div {
        display: flex;
        justify-content: center;
        gap: 50px;
        a {
            color: $links_light-blue;
        }
    }
}