@import "../../styles/variables.scss";

.footer {
    padding: 1vh;
    @include margin;
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .italic {
            font-style: italic;
        }
        img {
            padding: 3vh;
            width: 6vw;
        }
        a {
            color: $text_ghost-white;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        .contact-item {
            color: $links_light-blue;
            margin: 0;
            font-size: clamp(18px, $a_text, 40px);
            padding: 5px,
        }
        .contact-item:hover {
            text-decoration: underline;
        }
        a {
            color: $links_light-blue;
        }
    }
}