@import "../../styles/variables.scss";

.footer {
    padding: 1vh;
    @include margin;
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .italic {
            font-style: italic;
        }
        img {
            padding: 3vh;
        }
        a {
            color: $text_ghost-white;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        a {
            color: $links_light-blue;
        }
    }
}